<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(27, 44, 58);">
    <div class="no-matching-route">
        <h2 style="color: aliceblue; font-size: 24px;">404 Page Not Found</h2> 
        <img src="https://external-preview.redd.it/5t3jw7WBX1xtDKbKq_Ndu-ruOr4Hvj9_V2r4oLlzXUg.jpg?auto=webp&s=82e204d91dfeb45286c401d19ab6ca0fb9c7ec25" alt="notFound">
        <br>
    </div>
</body>
</html>