{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>     --}}
    <h2>Login</h2>
    <hr />
    {{#if errorMessage}}
        <div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div>
    {{/if}}
    
        <form method="post" action="/login">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" id="userName" name="userName" type="text" placeholder="User Name" required value=""
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" id="password" name="password" type="password" placeholder="Password" required />
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-success pull-right" value="Login" />
            <br /><br /><br /> 
        </form>
    {{!-- <form method="post" action="/login">  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="User Name" name="userName" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Password" name="password" required>  
            <button type="submit">Login</button>    
        </div>   
    </form>      --}}
{{!-- </body>     
</html>   --}}